{% extends 'base.html.twig' %}

{% block title %}Category
	{{ category.name }}
{% endblock %}


{% block body %}
	<h1>Category
		{{ category.name }}</h1>
	{% for program in programs %}
		<hr/>
		<div class="media">
			<img class="align-self-start mr-3" src="{{program.poster}}" alt="{{ program.title }} poster">
			<div class="media-body">
				<h1 class="mt-0">{{ program.id }}
					|
					<a href="{{ path("program_show", { slug: program.slug }) }}">
						{{ program.title }}
					</a>
				</h1>
				<p>{{ program.summary }}</p>
			</div>
		</div>
		<hr/>
	{% else %}
		Aucune série trouvée.<br/>
	{% endfor %}

	<a href="{{ path('category_index') }}">
		Retour à la liste des catégories
	</a>

{% endblock %}
