{% extends 'base.html.twig' %}

{% block title %}Série #
	{{ program.id }}
{% endblock %}


{% block body %}
	<h1>{{ program.title }}</h1>
	<h2>{{ "season " ~ season.number }}:</h2>
	<p>{{ season.description }}</p>

	<h4>{{ episode.number }}
		|
		{{ episode.title }}</h4>
	<p>{{ episode.synopsis }}</p>

	<ul class="list-group">
		{% for comment in comments %}
			<li class="list-group-item">
				<h6>{{ comment.author.email }}</h6>
                <p>rate : {{ comment.rate }}</p>
				<p>{{ comment.comment }}</p>
			</li>
		{% endfor %}
	</ul>

    {% if app.user %}
        <p>Ecrire un commentaire</p>
        {{ include('comment/_form.html.twig') }}
    {% endif %}

{% endblock %}
