<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
	<div class="container-fluid">
		<a
			class="navbar-brand" href="/">
			{# assets/images/logo.png was copied to public/build/logo.png #}
			<img class="text-center" src="{{ asset('build/logo.png') }}" alt="Wild Series logo" height="30">
			Wild Series
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/programs/">Programs</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/categories/">Categories</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/actor/">Actors</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Categories list
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						{{ render(controller('App\\Controller\\DefaultController::navbarTop')) }}
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
				</li>
			</ul>
			<div class="flex-grow-1"></div>
			<form class="d-flex">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-secondary" type="submit">Search</button>
			</form>
			<div class="flex-grow-1"></div>
			{% if app.user %}
				<li class="dropdown list-unstyled me-3">
					<a class="dropdown-toggle text-light text-decoration-none active" href="#" id="navbarDropdown2" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						{{ app.user.email }}
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown2">
						<li>
							<a class="dropdown-item" href="{{ path('app_profil')}}">Mon compte</a>
						</li>
						<li><hr class="dropdown-divider"></li>
						<li>
							<a class="dropdown-item" href="{{ path('app_logout') }}">Se déconnecter</a>
						</li>
					</ul>
				</li>
			{% else %}
				<a href="{{ path('app_login') }}" class="btn btn-secondary">
					Se connecter</a>
			{% endif %}
		</div>
	</div>
</nav>

